@import '~reset-css/reset.css';
@import "global";
@import "animations";
@import "noUiTheme";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  font-family: $font_family;
  font-size: $font_size;
  -webkit-font-smoothing: antialiased;
  background: #f5f7fa;
}

a { cursor: pointer; text-decoration: none;}
b { font-weight: bold; }
i { font-style: italic; }

button, input, textarea {
  font-size: $font_size;
  font-family: $font_family;
  background: none;
  border: none;
  outline: none;
  display: block;
  
  &:-webkit-autofill {
    animation: autofill both;
  }
}

textarea {
  font-family: $font_family;
}

h1 { font-size: $h1_size; }
h2 { font-size: $h2_size; }
h3 { font-size: $h3_size; }
h4 { font-size: $h4_size; }
small { font-size: $small_size; }

// Flex separator
.flex-space {
  flex-grow: 1;
}

.debug {
  font: 12px "Courier New";
  white-space: pre-wrap;
  padding: 5px;
  border: 1px #ccc solid;
  background: #eee;
  border-radius: 3px;
}

.app-loading {
  display: none;
  //display: flex;
  //font-size: 6em;
  //align-items: center;
  //width: 100%;
  //height: 100vh;
  //justify-content: center;
  //color:#fff;
}

button, a, div {
  outline: none!important;
  
  &:hover {
    text-decoration: none;
  }
}

.mat-toolbar.mat-toolbar-single-row {
  height: 60px; // верхняя плашка
}

i[icon] {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  color: #2A273C;
  &:hover {
    color: #544eed;
  }
}